@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;800;900&display=swap');

@media only screen and (max-width: 768px) {

    .hamburger {
        display: block !important;
    }


    .nav-bar-links li a {
        padding: 1.5rem 3.2rem;
        width: 5px;
        margin-right: 35px;
    }

    .hide {
        display: none;
    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: whitesmoke solid 1px;
        border-radius: 100px;
        background: #242424;
        color: whitesmoke;
        cursor: pointer;
        margin-top: .5rem;
        margin-right: 2rem;

    }

    .closeIcon {
        display: none;
    }

    .nav-bar-links {
        position: fixed;
        transform: translateX(120%);
        transition: transform 0.2s;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: #242424;
        color: whitesmoke;
        list-style: none;
        padding-top: 2rem;
        width: 15%;
        border: #E4B363 3px solid;
        border-radius: 50px;
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-around !important;
        align-items: center !important;
        margin-right: 20px;
    }

    .showMenu {
        transform: translateX(0);
    }
}




body {
    font-family: "League Spartan", Arial, sans-serif;
    color: whitesmoke;
    background-color: #242424;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #E4B363 3px solid;
    z-index: 9999;
}

.nav-bar-links li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px
}

.nav-bar-links li a {
    text-decoration: none;
    color: whitesmoke;
}

.nav-bar-links li a:hover {
    text-decoration: none;
    color: #E4B363;
}

.header {
    margin: 0.5rem 2rem;
}


.nav-bar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
}