@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;800;900&display=swap');

@media only screen and (max-width: 768px) {

    /* Nav bar responsive */
    .container-margin {
        margin: 0.5rem 1rem !important;
    }

    .hamburger {
        display: block !important;
    }


    .nav-bar-links li a {
        padding: 1.5rem 3.2rem;
        width: 5px;
        margin-right: 35px;
        display: block;
    }

    .hide {
        display: none;
    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: whitesmoke solid 1px;
        border-radius: 100px;
        background: #242424;
        color: whitesmoke;
        cursor: pointer;
        margin-top: .5rem;
        margin-right: 2rem;

    }

    .closeIcon {
        display: none;
    }

    .nav-bar-links {
        position: fixed;
        transform: translateX(150%);
        transition: transform 0.2s;
        top: 80px;
        right: 2.5rem;
        bottom: 0;
        z-index: 99;
        background: #242424;
        color: whitesmoke;
        list-style: none;
        width: fit-content;
        border: #E4B363 3px solid;
        border-radius: 15px;
        display: flex !important;
        flex-direction: column !important;
        justify-content: unset !important;
        align-items: center !important;
        height: fit-content;
        margin: 0;
        padding: 0;
    }

    .showMenu {
        transform: translateX(0);
    }

    /* About Section responsive */

    #about-section {
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
    }

    .right-block h1 {
        display: inline !important;
        margin-left: 5px !important;
        font-size: 1.5rem !important;
    }

    .right-block p {
        font-size: 1.4rem !important;
        margin: 0;
        display: inline;
    }

    .right-block {
        width: 80VW !important;
        padding: 1rem 1rem !important;
        margin: 0 1rem !important;
    }

    .left-block img {
        max-width: 200px !important;
        border-radius: 100%;
        filter: drop-shadow(0.40rem 0.40rem 0.4rem rgba(0, 0, 0, 0.5));
        filter: grayscale(0.35);
    }

    .left-block {
        border: none !important;
    }

    .eclipse-1 {
        top: 74px !important;
        left: 49px !important;
        height: 50px !important;
        width: 50px !important;
    }

    .eclipse-2 {
        top: -16px !important;
        left: 104px !important;
        height: 50px !important;
        width: 50px !important;
    }

    .eclipse-3 {
        top: 50px !important;
        left: 195px !important;
        height: 50px !important;
        width: 50px !important;
    }

    /* PROJECTS SECTION RESPONSIVE */

    .projects-main {
        display: flex;
        flex-direction: column;
    }

    .programming-img {
        max-width: 100% !important;
        filter: drop-shadow(0.40rem 0.40rem 0.4rem rgba(0, 0, 0, 0.5));
    }

    .project-module {
        margin: 1rem 0 !important;
        padding: 1rem 0.5rem !important;
        width: 100% !important;
        background-color: rgba(61, 61, 61, 0.3);
    }

    .projects-pane-left .project-module:nth-child(2) {
        margin-bottom: 0 !important;
    }


    #contact {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .contact-form-input-element {
        width: 100% !important;
    }

    .contact-form-input-field {
        width: 100% !important;
    }
}


/* FOR ANOMALY BETWEEN SET PIXELS */
@media only screen and (min-width: 769px) and (max-width: 1000px) {
    #about-section {
        margin: 2rem;
        padding: 2rem 0 !important;
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
    }

    .right-block {
        margin-top: 50px !important;
    }

    .left-block {
        border: none !important;
    }

}



body {
    font-family: "League Spartan", Arial, sans-serif;
    color: whitesmoke;
    background-color: #242424;
}


/* HEADER SECTION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #E4B363 3px solid;
    z-index: 9999;
}

.nav-bar-links li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px
}

.nav-bar-links li a {
    text-decoration: none;
    color: whitesmoke;
}

.nav-bar-links li a:hover {
    text-decoration: none;
    color: #E4B363;
}

.container-margin {
    margin: 0.5rem 3rem;
}


.nav-bar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
}

/* ABOUT SECTION */
.right-block h1 {
    display: inline;
    margin-left: 5px;
}

.right-block p {
    font-size: 40px;
    margin: 0;
    display: inline;
}

.right-block {
    padding: 1rem;
    margin-left: 3.5rem;
    position: relative;
    width: 80%;
    background-color: rgba(61, 61, 61, 0.3);
}

.left-block {
    padding: 0 4rem;
    position: relative;
    border-right: #E4B363 5px solid;

}

#about-section {
    margin: 2rem 0;
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.left-block img {
    max-width: 300px;
    border-radius: 100%;
    filter: drop-shadow(0.40rem 0.40rem 0.4rem rgba(0, 0, 0, 0.5));
    filter: grayscale(0.35);
}

.eclipse {
    width: 75px;
    height: 75px;
    border: #E4B363 2px solid;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
}

.eclipse-1 {
    top: 87px;
}


.eclipse-2 {
    top: 1px;
    right: 110px;
}

.eclipse-3 {
    top: 123px;
    right: 57px;
}

/* PROJECTS SECTION */

#projects-section {
    padding-top: 1rem;
}

.project-module {
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    width: 400px;
    background-color: rgba(61, 61, 61, 0.3);
}

.projects-main {
    display: flex;
    justify-content: space-between;
}

.programming-img {
    max-width: 250px;
    filter: drop-shadow(0.40rem 0.40rem 0.4rem rgba(0, 0, 0, 0.5));
}

.icon {
    width: 20px;
}

.project-module h3 {
    margin-top: 0;
}

#projects-section h2 {
    display: flex;
    align-items: center;
}

#projects-section h2::before,
.contact-form h2::before {
    content: '';
    display: block;
    width: 26px;
    height: 3px;
    background-color: #E4B363;
    margin-right: 0.4rem;
}

#projects-section h2::after,
.contact-form h2::after {
    content: '';
    display: block;
    width: 90%;
    height: 3px;
    background-color: #E4B363;
    margin-left: 0.4rem;
}

.project-heading::after {
    content: '';
    display: block;
    width: 251px;
    height: 1.5px;
    background-color: #E4B363;
    margin-top: 1rem;
}

/* Contact Form */

form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.contact-form {
    width: 50%;
}

.contact-form-input-element {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 20px;
    margin-left: 2rem;
    width: 55%;
}

.contact-form-label-spacing {
    margin-right: 30px;
    width: 5rem;
}

.contact-form h2 {
    display: flex;
    align-items: center;
}

.contact-form h2 span {
    display: block;
    width: 25%;
}

.contact-form-input-element #contact-form-submit-button {
    border-radius: 8px;
    background-color: #E4B363;
    filter: drop-shadow(0.40rem 0.40rem 0.4rem rgba(0, 0, 0, 0.5));
    padding: 0.5rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
}

input,
textarea {
    border-radius: 5px;
    background-color: antiquewhite;
    border: unset;

}

input:focus-visible,
textarea:focus-visible {
    outline: unset;
}

#contact {
    display: flex;
    justify-content: space-between;
}

.serbia-img {
    max-width: 150px;
    margin-left: 1rem;
}

.contact-details {
    width: 50%;
}

.bottom-margin {
    margin-bottom: 20px;
}

.contact-details-container {
    width: 100%;
    margin-left: 10px;
}

.myContactDetails {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.myContactDetails span {
    display: block;
    width: 44%;
}

.myContactDetails::after {
    content: '';
    display: block;
    width: 90%;
    height: 3px;
    background-color: #E4B363;
    margin-left: 0.4rem;
}

.contact-details-container-locationField {
    display: flex;
    align-items: center;
}

.contact-links {
    color: inherit;
}

.contact-links {
    padding: 5px 20px;
}